body {
  background-color: #282c34;

  .App-header {
    color: white;
    text-align: center;
  }

  .table-style {
    background-color: #dee2e6;
  }

  .table-container {
    width: 75%;
    margin: auto;
  }

  .modal-header {
    font-weight: bold;
    font-size: large;
    text-align: center;
    background-color: #eeeeee;
  }
}